.profile-pic{
  object-fit: cover;
  width: 230px;
  height: 230px;
  margin-bottom: 1.2rem;
  border-radius: 50%;
}

.tech-stack > Grid > a {
  text-decoration: none;
}

.tech-stack > Grid > a > img {
  width: 4rem;
  height: 3.5rem;
}
