.profile-pic{
  object-fit: cover;
  width: 230px;
  height: 230px;
  margin-bottom: 1.2rem;
  border-radius: 50%;
}

.tech-stack > Grid > a {
  text-decoration: none;
}

.tech-stack > Grid > a > img {
  width: 4rem;
  height: 3.5rem;
}

main > * {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.mobile-info-message {
  display: none;
}

@media only screen and (max-width: 600px) {
  .try-mobile {
    display: none;
  }

  .mobile-info-message {
    display: block;
  }
}

