.main-content {
  margin-top: 1rem;
}

.App {
  min-height: 100vh; 
  margin: 0; 
  
  display: grid;
  grid-template-rows: auto 1fr auto;

}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  color: white;
  text-align: center;
}
